
h1 {
    color: rgb(46, 43, 226);
    border-bottom: 1px solid rgb(0, 0, 0);
}
p {
    font-size: 20px;
    /* color: linear-gradient(red,green); */ 
    color: rgb(0, 0, 0);
    background: linear-gradient(rgb(255, 46, 46),rgb(251, 138, 0),rgb(255, 247, 0),green,rgb(65, 65, 200),rgb(220, 33, 220),pink);
}
h2 {
    color: purple;
}

#cor-vermelha {
    color: rgb(255, 0, 0);
}
#cor-azul {
    color: rgb(66, 5, 43);
}
